.popup__close {
  background-image: url(./sprint-4-images/Close\ Icon.png);
  width: 32px;
  height: 32px;
  margin-top: -8px;
  margin-right: -8px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.3s linear;
  position: absolute;
  top: -30px;
  right: -30px;
}

@media screen and (max-width: 641px) {
  .popup__close {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-right: 0px;
    top: -36px;
    right: 0;
  }
}

.popup__close:hover {
  opacity: 0.6;
}
